body {
  background-color: white
}

div.content {
  padding: 0;
  margin: 0;
}

/* Generic Reset */
h1,
h2,
h3,
h4,
h5,
h6,
ol {
  font-family: 'CORBEL';
  color: #000;
  padding: 0;
  margin: 0;
}

/* Form */    
button {
  font-family: 'CORBEL';
  font-size: 26px;
  color: white;
  padding: 10px 60px;
  background-color: #020000;
  border: 1px solid #000000;
  border-radius: 8px;
}

button:focus {
  outline: 0;
}

.error-message {
  font-size: 18px;
  color: #c70000;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #c73800 !important;
}

input, select, textarea {
  border: 1px solid #6e6e6e !important;
  font-family: 'CORBEL';
  padding: 14px !important;
  margin: 10px 0px 0px 0px !important;  
  font-size: 24px !important;
  color:rgb(148, 148, 148);
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder, 
select::placeholder {
  color: rgb(184, 184, 184) !important;
}

/* End Form */
